.dropdown-item.active {
    background-color: #d54536;
}


.mobile-only {
  display: none;
}

.desktop-only {
  display: none;
}

@media (max-width: 767px) {
  .mobile-only {
    display: block; 
  }
}

@media (min-width: 768px) {
  .desktop-only {
    display: block;
  }
}