{% extends 'accounts/admin/layout.html' %}
{% load static %}

{% block page_title %}Edit Category{% endblock %}

{% block admin_content %}
<div class="">
    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">Categories /</span> Edit Category
    </h4>

    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-6">
                <h5 class="card-header">Category Information</h5>
                <form class="card-body" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <h6 class="alert-heading mb-1">Please correct the errors below</h6>
                        <ul class="mb-0">
                            {% for field in form %}
                            {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}

                    <h6>1. Basic Details</h6>
                    <div class="row g-6">
                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="id_name">Name <span class="text-danger">*</span></label>
                            {{ form.name }}
                            <div class="form-text">Name of the category</div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="id_name_dk">Danish Name</label>
                            {{ form.name_dk }}
                            <div class="form-text">Danish translation of the name</div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <label class="form-label" for="id_image">Image</label>
                            {% if category.image %}
                            <div class="mb-2">
                                <img src="{{ category.image.url }}" alt="{{ category.name }}"
                                    style="max-height: 100px;">
                            </div>
                            {% endif %}
                            <input type="file" name="image" class="form-control" id="id_image">
                            <div class="form-text">Category image</div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="id_description">Description</label>
                            {{ form.description }}
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="id_description_dk">Danish Description</label>
                            {{ form.description_dk }}
                        </div>

                        <div class="col-md-12 mb-3">
                            <label class="form-label" for="id_other_info">Other Info</label>
                            {{ form.other_info }}
                        </div>
                    </div>

                    <hr class="my-6 mx-n6">

                    <h6>2. Status</h6>
                    <div class="row g-6">
                        <div class="col-md-6">
                            <label class="form-label" for="id_status">Status</label>
                            {{ form.status }}
                        </div>
                    </div>

                    <div class="pt-6 mt-3">
                        <button type="submit" class="btn btn-primary me-4 waves-effect waves-light">
                            <i class="icon-base ti tabler-check icon-22px"></i> Update
                        </button>
                        <a href="{% url 'category_list' %}" class="btn btn-label-secondary waves-effect">
                            <i class="icon-base ti tabler-ban icon-22px"></i> Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}