{% extends 'frontend/layout/base.html' %}

{% block title %}Forget Password - {{ site_settings.site_name }}{% endblock %}

{% block content %}
{% load static %}
{% load translate_tags %}

<div class="breadcrumb-bar breadcrumb-bg-02 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title mb-2">{% translate "Forget Password" %}</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="isax isax-home5"></i></a></li>
                        <li class="breadcrumb-item">{% translate "Customer" %}</li>
                        <li class="breadcrumb-item active" aria-current="page">{% translate "Forget Password" %}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-top: 50px;">
    <div class="w-100  position-relative flex-wrap d-block ">
        <div class="row justify-content-center align-items-center flex-wrap ">
            <div class="col-xxl-4 col-lg-6 col-md-6 col-11 mx-auto">
                <div class="card authentication-card">
                    <div class="card-header">
                        <div class="text-center">
                            <h5 class="mb-1">{% translate "Forget Password" %}</h5>
                            <p>{% translate "Enter your email address and we'll send you a link to reset your password." %}</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'forget_password' %}" method="post">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            
                            <div class="mb-3">
                                <label class="form-label">{% translate "Email" %}</label>
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <i class="isax isax-message"></i>
                                    </span>
                                    <input type="email" name="email" class="form-control" required placeholder="{% translate 'Enter your email address' %}">
                                </div>
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-xl btn-primary d-flex align-items-center justify-content-center w-100">{% translate "Reset Password" %}<i class="isax isax-arrow-right-3 ms-2"></i></button>
                            </div>
                            
                            <div class="login-or mb-3">
                                <span class="span-or">{% translate "Or" %}</span>
                            </div>

                            <div class="d-flex justify-content-center">
                                <p class="fs-14">{% translate "Remember your password?" %} <a href="{% url 'customer_login' %}" class="link-primary fw-medium">{% translate "Sign In" %}</a></p>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}