{% extends 'frontend/layout/base.html' %}

{% block title %}Login - {{ site_settings.site_name }}{% endblock %}

{% block content %}
{% load static %}
{% load translate_tags %}

<div class="breadcrumb-bar breadcrumb-bg-02 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">{% translate "Login" %}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item">{% translate "Customer" %}</li>
                            <li class="breadcrumb-item active" aria-current="page">{% translate "Login" %}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


<div class="container-fluid">
            <div class="w-100 overflow-hidden position-relative flex-wrap d-block vh-100">
                <div class="row justify-content-center align-items-center vh-100 overflow-auto flex-wrap ">
                    <div class="col-xxl-4 col-lg-6 col-md-6 col-11 mx-auto">
                        <div class="card authentication-card">
                            <div class="card-header">
                                <div class="text-center">
                                    <h5 class="mb-1">{% translate "Sign In" %}</h5>
                                    <p>{% translate "Sign in to Start Manage your Account" %}</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'login' %}" method="post">
                                    {% csrf_token %}
                                    {% if form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            {% for error in form.non_field_errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="mb-3">
                                        <label class="form-label">{% translate "Username or Email" %}</label>
                                        <div class="input-icon">
                                            <span class="input-icon-addon">
												<i class="isax isax-message"></i>
											</span>
                                            {{ form.username }}
                                        </div>
                                        {% if form.username.errors %}
                                            <div class="text-danger small mt-1">{{ form.username.errors.0 }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">{% translate "Password" %}</label>
                                        <div class="input-icon">
                                            <span class="input-icon-addon">
												<i class="isax isax-lock"></i>
											</span>
                                            {{ form.password }}
                                            <span class="input-icon-addon toggle-password" style="cursor: pointer;">
												<i class="isax isax-eye-slash"></i>
											</span>
                                        </div>
                                        {% if form.password.errors %}
                                            <div class="text-danger small mt-1">{{ form.password.errors.0 }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="mt-3 mb-3">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-2">
                                            <div class="form-check d-flex align-items-center mb-2">
                                                <input class="form-check-input mt-0" type="checkbox" value="" id="remembers_me">
                                                <label class="form-check-label ms-2 text-gray-9 fs-14" for="remembers_me">
                                                    {% translate "Remember Me" %}
                                                </label>
                                            </div>
                                            <a href="#" class="link-primary fw-medium fs-14 mb-2">{% translate "Forgot Password?" %}</a>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-xl btn-primary d-flex align-items-center justify-content-center w-100">{% translate "Login" %}<i class="isax isax-arrow-right-3 ms-2"></i></button>
                                    </div>
                                    <div class="login-or mb-3">
                                        <span class="span-or">{% translate "Or" %}</span>
                                    </div>
                                    <!-- <div class="d-flex align-items-center mb-3">
                                        <a href="#" class="btn btn-light flex-fill d-flex align-items-center justify-content-center me-2">
                                            <img src="{% static 'frontend/assets/img/icons/google-icon.svg' %}" class="me-2" alt="Img">Google
                                        </a>
                                        <a href="#" class="btn btn-light flex-fill d-flex align-items-center justify-content-center">
                                            <img src="{% static 'frontend/assets/img/icons/fb-icon.svg' %}" class="me-2" alt="Img">Facebook
                                        </a>
                                    </div> -->
                                    <div class="d-flex justify-content-center">
                                        <p class="fs-14">{% translate "Don't have an account?" %} <a href="{% url 'register_customer' %}" class="link-primary fw-medium">{% translate "Sign up" %}</a></p>
                                        &nbsp;&nbsp;
                                        <p class="fs-14">{% translate "Are you a tour provider?" %} <a href="{% url 'login_tour_supplier' %}" class="link-primary fw-medium">{% translate "Login as tour provider" %}</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
