{% load static %}
{% load translate_tags %}
<section class="section testimonial-section testi-sec-two bg-white" style="padding-top: 100px;">
    <div class="testi-sec-bg">
        <img src="{% static 'frontend/assets/img/bg/hotel-bg-03.svg' %}" class="bg-1" alt="Img">
    </div>
    <div class="container">
        <div class="section-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">
            <div>
                <p class="mb-2 fw-medium d-flex align-items-center"><span class="text-bar"></span>
                    {% translate "What's Our User Says" %}
                </p>
                <h2>
                    {% translate "Committed to Helping Our Clients Succeed" %}
                    <span class="text-primary">.</span>
                </h2>
            </div>
            <div>
                <a href="{% url 'testimonial' %}" class="btn btn-primary">
                    {% translate "View All" %}
                    <i class="isax isax-arrow-right-3 ms-2"></i>
                </a>
            </div>
        </div>
        <div class="owl-carousel testimonial-slider">
            {% for review in reviews %}
                <div class="card border-white wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="card-body">
                        <div class="mb-3 d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center justify-content-center ">
                                <i class="ti ti-star-filled text-primary"></i>
                                <i class="ti ti-star-filled text-primary"></i>
                                <i class="ti ti-star-filled text-primary"></i>
                                <i class="ti ti-star-filled text-primary"></i>
                                <i class="ti ti-star-filled  text-primary me-1"></i>
                                <p class="fs-14 text-gray-9">{{ review.rating }}</p>
                            </div>
                            <div class="d-flex align-items-center">
                                {% if review.provider %}
                                <span class="badge bg-primary d-inline-flex align-items-center" style="border-radius: 10px;float: right;">
                                    {% if review.providerimage %}
                                    <img src="{{ review.providerimage.url }}" style="width: 20px;">
                                    {% else %}
                                    <i class="isax isax-ranking me-1"></i>
                                    {% endif %}{{ review.provider }}
                                </span>
                                {%endif%}
                            </div>
                        </div>
                        <h6 class="mb-4"></h6>
                        <p class="mb-4">{{ review.review }}</p>
                        <div class="border-top pt-4 d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <a href="#" class="avatar avatar-md  flex-shrink-0">
                                    {% if review.image %}
                                    <img src="{{ review.image.url }}" class="rounded-circle" alt="img">
                                    {% else %}
                                    <img src="{% static 'frontend/assets/img/users/user-01.jpg' %}" class="rounded-circle" alt="img">
                                    {% endif %}
                                </a>
                                <div class="ms-2">
                                    <h6 class="fs-16 fw-medium"><a href="#">{{ review.name }}</a></h6>
                                    <p style="margin-bottom: 0px;">{{ review.address }}</p>
                                    <p style="font-size:10px">{{ review.otherinfo }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


            
        </div>
    </div>
</section>