{% load translate_tags %}
{% load static %}

<section class="section destination-section" style="padding-top: 100px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-10 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header text-center">
                        <h2 class="mb-2">Search by  <span class="text-primary  text-decoration-underline">Countries</span> Around the World </h2>
                        <p class="sub-title">{{site_settings.site_name}} is a platform designed to connect fans with exclusive experiences related to a specific tour</p>
                    </div>
                </div>
            </div>
            <div class="owl-carousel destination-slider nav-center">

                {% for country in countries %}
                <div class="destination-item mb-4 wow fadeInUp" data-wow-delay="0.2s">
                    {% if country.image %}
                    <img src="{{ country.image.url }}" alt="{{ country.name }}" style="width: 100%; height: 250px; object-fit: cover;">
                    {% else %}
                    <img src="{% static 'frontend/assets/img/destination/destination-01.jpg' %}" alt="{{ country.name }}" style="width: 100%; height: 250px; object-fit: cover;">
                    {% endif %}
                    <div class="destination-info text-center">
                        <div class="destination-content">
                        <a href="{% url 'tour_list_type_filtered' %}?country={{ country.id }}">
                            <h5 class="mb-1 text-white">{{ country.name }}</h5>
                        </a>
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="rating d-flex align-items-center me-2">
                                    <i class="fa-solid fa-star filled me-1"></i>
                                    <i class="fa-solid fa-star filled me-1"></i>
                                    <i class="fa-solid fa-star filled me-1"></i>
                                    <i class="fa-solid fa-star filled me-1"></i>
                                    <i class="fa-solid fa-star filled"></i>
                                </div>
                                <p class="fs-14 text-white">{{ country.tour_count }} Tours</p>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'tour_list_type_filtered' %}?country={{ country.id }}" class="overlay-circle-link"><i class="isax isax-arrow-right-1"></i></a>
                </div>
                {% endfor %}
                
            </div>
            <div class="text-center view-all wow fadeInUp">
                <a href="{% url 'tour_countries_fronted' %}" class="btn btn-dark d-inline-flex align-items-center">View All Locations<i class="isax isax-arrow-right-3 ms-2"></i></a>
            </div>
        </div>
</section>