{% extends 'frontend/layout/base.html' %}

{% block title %}Tour Provider Dashboard - {{ site_settings.site_name }}{% endblock %}

{% block content %}
{% load static %}
{% load translate_tags %}

<div class="breadcrumb-bar breadcrumb-bg-02 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title mb-2">
                    {% block supplier_content_title %}{% endblock %}
                </h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="isax isax-home5"></i></a></li>
                        <li class="breadcrumb-item">{% translate "Tour Provider" %}</li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {% block supplier_content_subtitle %}{% endblock %}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

    <div class="content content-two">
        <div class="container">

            <div class="row">

                <div class="col-xl-3 col-lg-4 theiaStickySidebar">
                    <div class="card user-sidebar mb-4">
                        <div class="card-header user-sidebar-header">
                            <div class="profile-content rounded-pill">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class=" d-flex align-items-center justify-content-center">
                                        <img src="{% static 'frontend/assets/img/users/user-01.jpg' %}" alt="image" class="img-fluid avatar avatar-lg rounded-circle me-1">
                                        <div>
                                            <h6 class="fs-16">{{ supplier.contact_name }}</h6>
                                            <span class="fs-14 text-gray-6">
                                                {{ supplier.company_name }}
                                            </span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <a href="#" class="p-1 rounded-circle btn btn-light d-flex align-items-center justify-content-center"><i class="isax isax-edit-2 fs-14"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body user-sidebar-body">
                            <ul>
                                <li>
                                    <span class="fs-14 text-gray-3 fw-medium mb-2">{% translate "Main" %}</span>
                                </li>
                                <li>
                                    <a href="{% url 'tour_supplier_dashboard' %}" class="d-flex align-items-center active">
                                        <i class="isax isax-grid-55"></i> {% translate "Dashboard" %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'supplier_profile' %}" class="d-flex align-items-center">
                                        <i class="isax isax-profile-tick5"></i> {% translate "My Profile" %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'supplier_tours' %}" class="d-flex align-items-center">
                                        <i class="isax isax-profile-tick5"></i> {% translate "Tours" %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'supplier_bookings' %}" class="d-flex align-items-center">
                                        <i class="isax isax-profile-tick5"></i> {% translate "Bookings" %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'supplier_payments' %}" class="d-flex align-items-center">
                                        <i class="isax isax-profile-tick5"></i> {% translate "Payments" %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout_tour_supplier' %}" class="d-flex align-items-center pb-0">
                                        <i class="isax isax-logout-15"></i> {% translate "Logout" %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-9 col-lg-8">
                     {% block supplier_content %}{% endblock %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
