{% extends 'frontend/layout/base.html' %}

{% block title %}Page view{% endblock %}

{% block content %}
{% load static %}
{% load translate_tags %}

<div class="breadcrumb-bar breadcrumb-bg-02 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title mb-2">{{ page.title }}</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="isax isax-home5"></i></a></li>
                        <li class="breadcrumb-item">{% translate "Pages" %}</li>
                        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>



<div class="content" style="transform: none;">
    <div class="container" style="transform: none;">

        <div class="row" style="transform: none;">
            <div class="col-lg-12 col-md-12">
                <div class="card blog-details mb-4 mb-lg-0">
                    <div class="card-body">
                        <div class="blog-content">
                            <div class="blog-image mb-3">
                                {% if page.image %}
                                    <img src="{{ page.image.url }}" class="img-fluid rounded" alt="{{ blog.title }}">
                                {% else %}
                                    <img src="{% static 'frontend/assets/img/blog/blog-default.jpg' %}" class="img-fluid rounded" alt="{{ page.title }}">
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <h2>{{ page.title }}</h2>
                            </div>
                            <div class="mb-3">
                                <div class="text-gray-6">
                                   {{ page.content|safe }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
 
    </div>
</div>




{% endblock %}